<h1>Admin</h1>
<p>This page can only be accessed by administrators.</p>
<div class="form-group">
    <input type="text" placeholder="search..." [(ngModel)]="searchValue">
</div>
<!-- <div>
    <button (click)="changeEmployeeName()" class="btn btn-primary">

    </button>
</div> -->
<div class="table-responsive table-container">
    <table class="table table-dark table-hover table-striped">
        <thead class="thead-light">
            <tr>
                <th>Full Name</th>
                <th>Code</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Birth Date</th>
                <th>Job Title</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees | filter :'fullName' : searchValue : 'equal'">
                <td>{{employee.fullName}}</td>
                <td>{{employee.code}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.phone}}</td>
                <td>{{employee.address}}</td>
                <td>{{employee.birthDate}}</td>
                <td>{{employee.jobTitle}}</td>
                <td>{{employee.status}}</td>

                <td>
                    <button (click)="openPopup1(employee)" class="btn btn-info">View</button>
                    <button (click)="openPopup2(employee)" style="margin-left: 20px;"
                        class="btn btn-info">Update</button>
                    <!-- <button (click)="updateProduct(product)" style="margin-left: 20px;" class="btn btn-info">
                        Edit</button>
                    <button (click)="getProductById(product)" style="margin-left: 20px;"
                        class="btn btn-info">Info</button> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>