<h1>Admin</h1>
<p>This page can only be accessed by administrators.</p>
<div class="form-group">
    <input type="text" placeholder="search..." [(ngModel)]="searchValue">
</div>
<!-- <div>
    <button (click)="changeEmployeeName()" class="btn btn-primary">

    </button>
</div> -->
<div class="table-responsive table-container">
    <table class="table table-dark table-hover table-striped">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let orderDetail of orderDetails | filter :'fullName' : searchValue : 'equal'">
                <td>{{orderDetail.name}}</td>
                <td>{{orderDetail.amount}}</td>

                <td>
                    <button (click)="updateStatusOrderDetail(orderDetail)" class="btn btn-info">Chap Nhan</button>
                    <button (click)="openPopup1(orderDetail)" class="btn btn-info">View</button>
                    <!-- <button (click)="updateProduct(product)" style="margin-left: 20px;" class="btn btn-info">
                        Edit</button>
                    <button (click)="getProductById(product)" style="margin-left: 20px;"
                        class="btn btn-info">Info</button> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>